.form-student {
    flex: 1;
    width: 400px;
    margin-top: 25px;
    margin-bottom: 50px;
    /* margin-left: 30px; */
    padding: 50px;

    /* margin-top: 5%; */
    /* margin-bottom: 100; */
    background: var(--form-color);
    border-radius: 5px;
    font-family: "calibri";
    color: white;
    box-shadow: 5px 8px 12px #000;

    overflow-y: auto;
}

.form-result {
    overflow-y: auto;
    overflow-x: auto;

    padding: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 40px;
    flex: 2.2;
    background: var(--form-color);
    border-radius: 5px;
    font-family: "calibri";
    color: white;
    box-shadow: 5px 8px 12px #000;
}
.form-student h4 {
    font-size: 160%;
    margin-bottom: 12%;
    text-align: center;
    color: white;
    line-height: 25px;
}

.form-result h4 {
    font-size: 23px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}

.form-student .digit-calc {
    align-items: center;
    width: 100%;
    background: var(--form-color);
    padding: 3%;
    border-radius: 4px;
    margin-bottom: 5%;
    border: 2px solid teal;
    font-family: "calibri";
    font-size: 125%;
    color: white;
}
.form-student .digit-calc2 {
    align-items: center;
    width: 100%;
    background: var(--form-color);
    padding: 4%;
    border-radius: 4px;
    margin-bottom: 5%;
    border: 2px solid teal;
    font-family: "calibri";
    font-size: 125%;
    color: white;
}

#text-descript p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: "calibri";
    line-height: 40px;
    color: white;
}

.form-student a {
    color: teal;
}

.form-student .send-data {
    width: 100%;
    border: none;
    color: white;
    padding: 5%;
    background-color: teal;
    margin-top: 0.05%;
}

.table {
    width: 100%;
}

#img-shop {
    width: 50%;
}

#table-fact {
    color: white;
    text-align: center;
}
